body {
 margin: 0;
 padding: 0;
 font-family: 'Ubuntu', sans-serif;
 background-color: #272727;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}
.logo-img {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    height: 149.47px;
}
.startup-spinner:before {
    margin-top: 120px !important;
}
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #f6f;
    border-top-color: #0e0;
    border-right-color: #0dd;
    border-bottom-color: #f90;
    animation: spinner .6s linear infinite;
}